<?xml version="1.0"?>
<!-- 
/**
 * Customer Product list.
 *
 * @category  Test
 * @package   Test_ProductList
 * @author    Nitish
 * 
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/Module/etc/module.xsd">
    <module name="Test_ProductList" setup_version="1.0.1">
        <sequence>
            <module name="Magento_Catalog"/>             
        </sequence>
    </module>
</config>